<section id="home">
    <div class="welcome">
        <p>Natural Love</p>
    </div>
</section>
<section id="history">
	<h2>Historia</h2>
	<div id="coment">
		<div id="silvia"></div>
		<div id="text">
			<p> Hola me llamo Silvia Rojas, me apasionan las plantas e inicie creando terrarios por distracción después de la  muerte de mi madre y se fue convirtiendo en una pasión.
				Busco entregar una experiencia para superar esos momentos difíciles por medio de mini-jardines o terrarios.
				 </p>
		</div>
		<div id="cactus"></div>
	</div>
</section>

